﻿@using Globalization;
@using Resources;

@{
    ViewBag.Title = Resources.AcercaDe;
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @ViewBag.Title
                    </h3>
                </div>
                <div class="panel-body">
                    <h1>@Resources.NombreAplicacion</h1>
                    <p class="lead">@Resources.NombreAplicacion</p>
                </div>
            </div>
        </div>
    </div>
</div>