﻿@using Globalization;
@using Resources;

@{
    ViewBag.Title = Resources.Contacto;
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @ViewBag.Title
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="UserName">@Resources.Nombre</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" id="inputEmail" placeholder="@Resources.Nombre">
                        </div>
                        <div style="width:100%; height:0.5em">
                        </div>
                        <label for="UserName">@Resources.CorreoElectronico</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="text" class="form-control" id="inputEmail" placeholder="@Resources.CorreoElectronico">
                        </div>
                        <div style="width:100%; height:0.5em">
                        </div>
                        <label for="inputPhone">@Resources.Telefono</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                            <input type="text" class="form-control bfh-phone" data-format="+d (ddd) d-dd-dd-dd" id="inputPhone" placeholder="@Resources.Telefono">
                        </div>
                        <div style="width:100%; height:0.5em">
                        </div>
                        <label for="UserName">@Resources.Mensaje</label>
                        <div class="input-group">
                            <textarea class="form-control" rows="5" cols="100" id="textArea"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default">@Resources.Cancelar</button>
                        <button type="submit" class="btn btn-primary">@Resources.Enviar</button>
                    </div>
                    <div class="form-group">
                        <address>
                            <abbr title="@Resources.Oficina"><i class="glyphicon glyphicon-phone-alt" data-toggle="tooltip" title="@Resources.Oficina"></i> </abbr>+57 1 9999999
                            <br />
                            <abbr title="@Resources.Movil"><i class="glyphicon glyphicon-phone-alt" data-toggle="tooltip" title="@Resources.Movil"></i> </abbr>+57 999 9999999
                            <br />
                            <abbr title="@Resources.CorreoElectronico"><i class="glyphicon glyphicon-envelope" data-toggle="tooltip" title="@Resources.CorreoElectronico"></i> </abbr><a href="mailto:informacion@FloresKatama.com">informacion@FloresKatama.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>