﻿<table id="TableAspersionPlan" class="frozen_alert table table-bordered table-striped table-condensed table-hover" style="width : auto;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Bloque</th>
            <th>Día</th>
            <th>Aplicación</th>
            <th>Forma</th>
            <th>Orden</th>
            <th>Producto Agro.</th>
            <th>No. Camas</th>
            <th>Litros*Cama</th>
            <th>Lanza</th>
            <th>No. Asper.</th>
            <th>Observaciones</th>
            <th>Vol. Tanque</th>
            <th>Capa.Tarro</th>
            <th>Estado</th>
            <th>Edicion</th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 0;}
        @{ var af = 0;}
        @foreach (var template in ViewBag.datos)
        {
            <tr>
                <td>@template.AspersionPlanDetailID</td>
                <td>@template.ProductID</td>
                <td>@template.Block</td>
                <td>@template.DayNumber</td>
                <td>@template.ApplyTypesID</td>
                <td>@template.FormID</td>
                <td>@template.PreparationOrder</td>
                <td>@template.AgrochemicalProductsID</td>
                <td>@template.BedNumber</td>
                <td>@Math.Round(template.LiterPerBed, 1)</td>
                <td>@template.ReferenceSpear</td>
                <td>@template.AsperjadorNumber</td>
                <td>@template.Observation</td>
                <td>@Math.Round(template.TankVolume, 1)</td>
                <td>@Math.Round(template.CapacityJar, 1)</td>

                @if (template.ActiveFlag == true)

                {
                    af = 1;
                    <td class="text-success text-bold">Activo</td>
                }
                else
                {
                    af = 0;
                    <td class="text-danger text-bold">Inactivo</td>
                }

                <td class="actions">
                    <a href=@Url.Action("AspersionPlanEdit", "AspersionPlan", new { id = @template.AgrochemicalProductsID }) class="on-default edit-row" title="Editar"><i class="fa fa-pencil fa-1x"></i></a> |
                    <a href="javascript:void(0);" class="on-default remove-row" title="Activar/Desactivar" onclick="CambiaEstado(@af, @template.AspersionPlanID);"><i class="fa fa-toggle-on fa-1x"></i></a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<script type="text/javascript">
    var table = $("#TableAspersionPlan").dataTable();
</script>


