﻿@using Resources;
@using Planner.Model;


@model Planner.Model.Planner_Template

<script src="~/Scripts/Aspersion/AspersioPlanOutputTable.js"></script>


@{
    ViewBag.Title = "Plan de Aspersión";
    ViewBag.Subtitle = "Tabla de salida";
}

<div class="btn-group">
    <a id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()" >
        <i class="fa fa-chevron-left"></i>
    </a>
    <button class="btn btn-danger waves-effect waves-light" id="exportPdf" onclick="exportPdf();" data-toggle="tooltip" data-placement="top" title="Generar plan de aspersión">
        <i class="fa fa-file-pdf-o"></i>
    </button>
    <button class="btn btn-success waves-effect waves-light" id="exportPdf" onclick="ImprimeEtiquetas(@ViewBag.Id)" data-toggle="tooltip" data-placement="top" title="Imprimir todas las etiquetas">
        <i class="fa fa fa-print"></i>
    </button>
    <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Generar plan de aspersión"><i class="fa fa-bar-chart" aria-hidden="true"></i></button>
</div>
<div class="Planner_Separator"></div>
<div class="Planner_Separator"></div>
<form id="AspersionPlanOutputTableForm">
    <div class="box box-success">
        <div class="box-body">
            <input type="hidden" value="@ViewBag.Id" id="Id"/>
            <div class="col-md-3">
                <label class="label_title">No. Semana: </label><br />
                @Html.DropDownList("WeekID", ViewData["listWeek"] as SelectList, "Todas", new { @class = "form-control", @style = "width:100%", @id = "WeekID" })
            </div>

            <div class="col-md-3">
                <label class="label_title">Día: </label><br />
                <select id="NumberDay" class="form-control">
                    <option value="">Todos</option>
                    <option value="1">LUNES</option>
                    <option value="2">MARTES</option>
                    <option value="3">MIERCOLES</option>
                    <option value="4">JUEVES</option>
                    <option value="5">VIERNES</option>
                    <option value="6">SABADO</option>
                    <option value="7">DOMINGO</option>
                </select>
            </div>

            <div class="col-sm-3">
                <label class="label_title">Supervisor: </label><br />
                @Html.DropDownList("AspersionEmployeesID", ViewData["AspersionEmployesList"] as SelectList, "Todos", new { @class = "form-control", @style = "width:100%", @id = "AspersionEmployeesID" })
            </div>
            <input type="hidden" id="Supervisor"/>
            <div class="col-sm-3">
                <br />
                <button type="button" class="btn btn-primary" id="OutputTableFilter"><i class="fa fa-filter"></i></button>
            </div>
        </div>
    </div>
</form>
<div class="box box-success">
    <div class="box-body">
        @foreach (var ds in ViewBag.AspersionPlan)
        {
            <div class="col-lg-12 text-center">
                <h4 id="tituloOutput"><b>Plan de aspersión semana @ds.WeekID Finca: @ds.GreenHouseID<br />   <span id="supervisores"></span></b></h4>
            </div>
        }
        <div class="Planner_Separator"></div>
        <div style="overflow:scroll;height: 500px;">
            <table id="table_AspersionPlanOutput" class="table table-bordered table-striped table-condensed table-hover" style="font-size:10px">
                <thead>
                    <tr>
                        <th></th>
                        <th>Dia</th>
                        <th>Bl</th>
                        <th>Camas</th>
                        <th>Orden</th>
                        <th>PPC</th>
                        <th>I.Act</th>
                        <th>Dosis</th>
                        <th>CTox</th>
                        <th>BlBio</th>
                        <th>Unid</th>
                        <th>Rein</th>
                        <th>LxCama</th>
                        <th>Lanza</th>
                        <th>TxLado</th>
                        <th>Obs</th>
                        <th>TotGr</th>
                        <th>TVol</th>
                        <th>AguaTan</th>
                        <th>AguaSal</th>
                        <th>#Tan</th>
                        <th>PPCXTGr</th>
                        <th>PPCXTSal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in ViewBag.PlanProducts)
                    {
                    <tr>
                        <td><button class="btn btn-xs" onclick="location='/AspersionPlan/imprimeEtiquetas/@ViewBag.Id?IdDetail=@d.AspersionPlanDetailID'"><i class="fa fa-print text-navy"></i></button></td>
                        <td>@d.DayNumber</td>
                        <td>@d.Block</td>
                        <td>@d.BedNumber</td>
                        <td>@d.PreparationOrder</td>
                        <td>@d.AgrochemicalProductsID</td>
                        <td>@d.ActiveIngredient</td>
                        <td>@Math.Round(d.dose,1)</td>
                        <td>@d.ToxicologicalCategoryID</td>
                        <td>@d.PlagasID</td>
                        @*<td>@d.MeasurementUnitsID</td>*@
                        <td>GR</td>
                        <td>@d.ReentryHourID</td>
                        <td>@Math.Round(d.LiterPerBed)</td>
                        <td>@d.ReferenceSpear</td>
                        <td>@(Math.Ceiling(d.TimePerSide))</td>
                        <td>@d.Observation</td>
                        @if (d.Sald % d.TankVolume == 0)
                        {
                            d.Sald = 0;
                        }
                        else
                        {
                            d.Sald = Math.Round(Math.Abs(d.Sald), 1);
                        }
                        @{
                            decimal totGr = 0;
                            decimal GRxTr = 0;
                        }
                        @if (d.MeasurementUnitsID == "CC")
                        {
                            var total = (d.dose * d.Density) * d.BedNumber * d.LiterPerBed;
                            <td>@(Math.Round(total, 1))</td>
                            totGr = Math.Round((d.TankVolume * d.dose * d.Density), 1);
                            GRxTr = Math.Round((d.Sald * d.dose * d.Density), 1);
                        }
                        else
                        {
                            var total = d.dose * d.BedNumber * d.LiterPerBed;
                            <td>@(Math.Round(total, 1))</td>
                            totGr = Math.Round((d.TankVolume * d.dose), 1);
                            GRxTr = Math.Round((d.Sald * d.dose), 1);

                        }
                        <td>@(Math.Round(d.TotalVolume, 1))</td>
                        <td>@Math.Round(d.TankVolume, 1)</td>
                        @{var NumeTarros = (Math.Ceiling((d.BedNumber * d.LiterPerBed) / d.TankVolume));}
                        <td>@(d.Sald)</td>
                        <td>@NumeTarros</td>
                        <td>@totGr</td>
                        <td>@GRxTr</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
<script src="https://unpkg.com/jspdf-autotable@3.0.13/dist/jspdf.plugin.autotable.js"></script>
