﻿@{
    ViewBag.Title = "Consolidado de PPC";
    ViewBag.SubTitle = "Consolidado por día";
}
<script src="~/Scripts/Aspersion/Consolidated/Consolidated.js"></script>
<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()">
        <i class="fa fa-chevron-left"></i>
    </button>
    <button class="btn btn-danger waves-effect waves-light" id="exportPdf" onclick="exportPdf();" data-toggle="tooltip" data-placement="top" title="PDF Consolidado">
        <i class="fa fa-file-pdf-o"></i>
    </button>
</div>
<div class="Planner_Separator"></div>
<div class="Planner_Separator"></div>
<div class="box box-success">
    <div class="box-body">
        <input type="hidden" value="@ViewBag.Id" id="Id" />
        <div class="col-md-3">
            <label class="label_title">Finca: </label><br />
            @Html.DropDownList("BussinesUnitId", ViewData["BussinesUnitList"] as SelectList, "Todas", new { @class = "form-control", @style = "width:100%", @id = "BussinesUnitId" })
        </div>

        <div class="col-md-3">
            <label class="label_title">No. Semana: </label><br />
            @Html.DropDownList("WeekID", ViewData["listWeek"] as SelectList, "Todas", new { @class = "form-control", @style = "width:100%", @id = "WeekID" })
        </div>
        <div class="col-sm-1">
            <br />
            <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Filtrar consolidado" onclick="ConsolidatedFiltred();"><i class="fa fa-filter"></i></button>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <table id="table_AspersionPlanConsolidated" class="table table-bordered table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>PPC</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                    <th>Domingo</th>
                    <th class="text-red">Total gr</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in ViewBag.Consolidate)
                {
                    <tr>
                        <td class="text-bold">@d.AgrochemicalProductsID</td>
                        <td>@d.Lunes</td>
                        <td>@d.Martes</td>
                        <td>@d.Miercoles</td>
                        <td>@d.Jueves</td>
                        <td>@d.Viernes</td>
                        <td>@d.Sabado</td>
                        <td>@d.Domingo</td>
                        <td class="text-red text-bold">@d.total</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
<script src="https://unpkg.com/jspdf-autotable@3.0.13/dist/jspdf.plugin.autotable.js"></script>