﻿<table id="TableAgrochemicalProducts" class="frozen_alert table table-bordered table-striped table-condensed table-hover" style="width : auto;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Grupo Químico</th>
            <th>Frac</th>
            <th>Ing. Activo</th>
            <th>Cat. Toxico.</th>
            <th>Hora Reentrada</th>
            <th>Aspersión</th>
            <th>Espolvoreo</th>
            <th>Drench</th>
            <th>Termonebulizador</th>
            <th>Densidad</th>
            <th>Blanco Bio.</th>
            <th>Unidad Medida</th>
            <th>Estado</th>
            <th>Edicion</th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 0;}
        @{ var af = 0;}
        @foreach (var template in ViewBag.DetalleMaestro)
        {
            <tr>
                <td>@template.AgrochemicalProductsID</td>
                <td>@template.Name</td>
                <td>@template.ChemicalGroupID</td>
                <td>@template.FracID</td>
                <td>@template.ActiveIngredientID</td>
                <td>@template.ToxicologicalCategoryID</td>
                <td>@template.ReentryHourID</td>
                <td>@Math.Round(template.Aspersion,1)</td>
                <td>@Math.Round(template.Sprinkle,2)</td>
                <td>@Math.Round(template.Drench, 2)</td>
                <td>@Math.Round(template.Thermonebulizer,2)</td>
                <td>@Math.Round(template.Density,2)</td>
                <td>@template.PlagasID</td>
                <td>@template.MeasurementUnitsID</td>
                @if (template.ActiveFlag == true)
                {
                     af = 1;
                    <td class="text-success text-bold">Activo</td>
                }
                else
                {
                    af = 0;
                    <td class="text-danger text-bold">Inactivo</td>
                }


                @*<td>@Html.CheckBox("chkFlagActive", (bool)template.ActiveFlag, new { @disabled = "disabled" })</td>*@
                    <td>
                        @*<a href=@Url.Action("Edit", "AgrochemicalProducts" , new { id=@template.AgrochemicalProductsID }) class="on-default edit-row" title="Editar"><i class="fa fa-pencil fa-1x"></i></a> |*@
                        @*<a href="javascript:void(0);" class="on-default remove-row" title="Activar/Desactivar" onclick="CambiaEstado(@af, @template.AgrochemicalProductsID);"><i class="fa fa-toggle-on fa-1x"></i></a>*@

                        <button type="button" class="btn btn-xs" onclick="location='@Url.Action("Edit", "AgrochemicalProducts" , new { id=@template.AgrochemicalProductsID })'"><i class="fa fa-pencil text-primary"></i></button>
                        @if (template.ActiveFlag == true)
                        {
                            <button type="button" class="btn btn-xs" onclick="CambiaEstado(@af, @template.AgrochemicalProductsID);"><i class="fa fa-toggle-on text-success"></i></button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-xs" onclick="CambiaEstado(@af, @template.AgrochemicalProductsID);"><i class="fa fa-toggle-off text-danger"></i></button>
                        }

                    </td>
            </tr>
            i++;
        }
        @*@if (i == 0)
        {
            <tr>
                <td colspan="14" class="text-center">No se encontraron registros ...</td>
            </tr>
        }*@
    </tbody>
</table>
<script type="text/javascript">
    $("#TableAgrochemicalProducts").dataTable();
</script>
@*<input id="dataPlanner_Template" class="btn btn-success bottom-right btn-xs" type="button" value="Exportar Excel">*@


