﻿<!--Inclusión JS propio-->
@using Resources;
@using Planner.Model;


@model Planner.Model.Planner_Template

@{
    ViewBag.Title = "Productos Agroquímicos";
    ViewBag.Subtitle = "Módulo de administración";
}

<script src="~/Scripts/Aspersion/Aspersion.js"></script>
<form class="" id="form_AgrochemicalProducts">
    <div class="btn-group">
        @*<a id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()">
            <i class="fa fa-chevron-left"></i>
        </a>*@
        <button id="guardaAgrochemicalProducts" name="guardaAgrochemicalProducts" class="btn btn-success waves-effect waves-light">
            <i class="fa fa-save"></i>
        </button>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="box box-success">
        <div class="box-body">
            <div class="col-sm-4">
                <label for="Name">Producto genérico: </label>
                @Html.DropDownList("ProductOrigin", ViewData["listaPG"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "ProductOrigin" })
            </div>

            <div class="col-sm-4">
                <label for="Name">Nombre: </label>
                <input type="text" class="form-control" id="Name" name="Name" required />
            </div>

            <div class="col-sm-4">
                <label for="Name">Grupo Químico: </label>
                @Html.DropDownList("ChemicalGroupID", ViewData["listaCG"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "ChemicalGroupID" })
            </div>

            <div class="col-sm-4">
                <label for="Name">Frac: </label>
                @Html.DropDownList("FracID", ViewData["listaFrac"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "FracID" })
            </div>

            <div class="col-sm-4">
                <label for="Name">Ingrediente Activo: </label>
                @Html.DropDownList("ActiveIngredientsID", ViewData["listaIA"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "ActiveIngredientsID" })
            </div>

            <div class="col-sm-4">
                <label for="Name">Categoría Toxicológica: </label>
                @Html.DropDownList("ToxicologicalCategoryID", ViewData["listaCT"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "ToxicologicalCategoryID" })
            </div>

            <div class="col-sm-4">
                <label for="Name"> Hora Reentrada: </label>
                @Html.DropDownList("ReentryHourID", ViewData["listaRH"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "ReentryHourID" })
            </div>
            <div class="clearfix"></div>
            <h5 class="text-center"><b>Dosis</b></h5>
            <hr />
            <div class="col-sm-3">
                <label for="Name">Aspersión: </label>
                <input type="text" class="form-control" id="Aspersion" name="Aspersion" required />
            </div>

            <div class="col-sm-3">
                <label for="Name">Espolvoreo: </label>
                <input type="text" class="form-control" id="Sprinkle" name="Sprinkle" required />
            </div>

            <div class="col-sm-3">
                <label for="Name">Drench: </label>
                <input type="text" class="form-control" id="Drench" name="Drench" required />
            </div>

            <div class="col-sm-3">
                <label for="Name">Termonebulizador: </label>
                <input type="text" class="form-control" id="Thermonebulizer" name="Thermonebulizer" required />
            </div>
            <div class="clearfix"></div>
            <hr />
            <div class="col-sm-2">
                <label for="Name">Densidad: </label>
                <input type="text" class="form-control" id="Density" name="Density" required />
            </div>

            <div class="col-sm-4">
                <label for="Name">Blanco Biológico: </label>
                @Html.DropDownList("PlagasID", ViewData["listaBT"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "PlagasID" })
            </div>

            <div class="col-sm-4">
                <label for="Name">Unidades de medida: </label>
                @Html.DropDownList("MeasurementUnitsID", ViewData["listaMU"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "MeasurementUnitsID" })
            </div>
        </div>

        @*<div class="box-footer text-center">
                <button class="btn btn-success btn-flat" id="guardaAgrochemicalProducts">Guardar</button>
                <button type="reset" class="btn btn-default btn-flat">Limpiar</button>
            </div>*@

        <hr />
        <div class="col-sm-12 text-center text-green"><h4><b>Detalle</b></h4></div>
        <hr />
        <div class="col-sm-12 form-group" id="DetalleMaestro" style="width:100%; overflow:scroll;">
            <!--Tabla detalle-->
        </div>
    </div>
</form>

<div class="modal fade" id="modalMensajes" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modalMensajesTitulo"></h4>
            </div>
            <div class="modal-body text-center" id="modalMensajesCuerpo">
            </div>
            <div class="modal-footer">
                <div id="modalMensajesFooter"></div>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
