﻿@using Resources;

<script src="~/Scripts/Geolocation/ExternalPlatesList.js"></script>

<div id="ExternalPlatesDataTable">
    <div id="ExternalPlatesListDataTable" class="form-group row">
        <div id="resultsExternalPlatesList">
            <table id="tableExternalPlatesList" class="frozen_alert table table-bordered table-striped table-condensed table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resources.Id</th>
                        <th>@Resources.Placa</th>
                        <th>@Resources.Nombre</th>
                        <th>@Resources.Latitud</th>
                        <th>@Resources.Longitud</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var externalPlate in ViewBag.ExternalPlatesList)
                    {
                    <tr>
                        <td style="text-align:right">@externalPlate.ID</td>
                        <td style="text-align:left">@externalPlate.PlateId</td>
                        <td style="text-align:right">@externalPlate.PlateName</td>
                        <td style="text-align:right">@externalPlate.CoordinateLatitude</td>
                        <td style="text-align:right">@externalPlate.CoordinateLongitude</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
