﻿@using Resources;

<script src="~/Scripts/Geolocation/greenhouseList.js"></script>

<div id="GreenhouseDataTable">
    <div id="greenhouseListDataTable" class="form-group row">
        <div id="resultsgreenhouseList">
            <table id="tablegreenhouseList" class="frozen_alert table table-bordered table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th>@Resources.Codigo</th>
                        <th>@Resources.AreaInvernadero</th>
                        <th>@Resources.Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var greenhouse in ViewBag.greenhouseList)
                    {
                    <tr>
                        <td style="text-align:right">@greenhouse.Codigo</td>
                        <td style="text-align:right">@greenhouse.AreaInvernadero</td>
                        <td class="actions">
                            <div class="btn-group">
                                <button class="btn btn-xs" type="button" data-toggle="tooltip" data-placement="top" title="@Resources.Editar" onclick="setGreenhouseDetails(@greenhouse.ID, '@greenhouse.Codigo', '@greenhouse.AreaInvernadero')">
                                    <i class="fa fa-cloud text-aqua"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
