﻿@using Resources;

@{
    ViewBag.Title = Resources.Geolocalizacion;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAl5uJHwmxrRaQUMChSGMP1tdefCrrqhU&callback=initMap" type="text/javascript"></script>

<script src="~/Scripts/Geolocation/Geolocation.js"></script>

<style>
    #map_canvas img {
        max-width: none
    }
</style>

<style>
    #radioBtn .notActive {
        color: #3276b1;
        background-color: #FFFFFF;
    }
</style>

<div class="col-xs-12 col-sm-12 col-md-4">
    <div class="box box-success">
        <div class="box-body">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <label for="lstBusinessUnit">@Resources.Finca:</label>
                @Html.DropDownList("lstBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
                <label for="ddlOptions">@Resources.Opciones:</label>
                @Html.DropDownList("ddlOptions", ViewData["ddlOptions"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                <label for="ddlDetails">@Resources.Consultar:</label>
                @Html.DropDownList("ddlDetails", ViewData["ddlDetails"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })
            </div>
            <div class="clearfix"></div>
            <hr />

            <div id="Sensores" name="Sensores">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group">
                        @Html.Partial("greenhouseList")
                    </div>
                </div>
            </div>
            <div id="PlacasExternas" name="PlacasExternas">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group">
                        @Html.Partial("ExternalPlatesList")
                    </div>
                </div>
            </div>
            <div id="Coordenadas" name="Coordenadas">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group">
                        @Html.Partial("CoordinatesList")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-8">
    <div class="box box-success">
        <div class="box-body">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <label for="radioBtn">@Resources.Vista:</label>
                <div class="input-group">
                    <div id="radioBtn" class="btn-group">
                        <a class="btn btn-success btn-sm active" data-toggle="fun" data-title="F">@Resources.Finca</a>
                        <a class="btn btn-success btn-sm notActive" data-toggle="fun" data-title="I">@Resources.Invernaderos</a>
                        <a class="btn btn-success btn-sm notActive" data-toggle="fun" data-title="T">@Resources.Todo</a>
                        <a class="btn btn-success btn-sm notActive" data-toggle="fun" data-title="N">@Resources.Ninguno</a>
                    </div>
                    <input type="hidden" name="fun" id="fun">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <label for="radioBtn">@Resources.DesdeSuUbicacion:</label>
                @Html.TextBox("DistanceFromThisLocation", null, new { @class = "form-control", @id = "DistanceFromThisLocation", @readonly = "readonly" })
            </div>
            <div class="clearfix"></div>
            <div class="Planner_Separator">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="map_canvas" style="height:70vh;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>