﻿@using Resources;
@using Planner.Model;


@model Planner.Model.Planner_Template

@{
    ViewBag.Title = Resources.PlantillaDeActividades + " - " + Resources.Editar;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Planner_Template/Edit.js"></script>

<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick='BackToList()'>
        <i class="fa fa-chevron-left"></i>
    </button>
    <button id="btnGrabar" name="btnGrabar" class="btn btn-success waves-effect waves-light" onclick="CallSubmit()">
        <i class="fa fa-save"></i>
    </button>
    <button id="dataPlanner_Template" name="dataPlanner_Template" class="btn btn-success waves-effect waves-light">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">@Resources.Encabezado</h3>
    </div>
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="TemplaterID">@Resources.Id</label>
                @Html.TextBoxFor(model => model.TemplateID, null, new { @class = "form-control", @placeholder = Resources.Id, @readonly = "readonly", @style = "width:100%" })
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
                <label for="Name">@Resources.Nombre</label>
                @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control", @placeholder = Resources.Nombre })
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
                <label for="Description">@Resources.Descripcion</label>
                @Html.TextBoxFor(model => model.Description, null, new { @class = "form-control", @placeholder = Resources.Descripcion })
            </div>

            <div class="col-xs-12 col-sm-7 col-md-7">
                <label for="lstPlanner_TemplateType">@Resources.Tipo</label>
                <div class="controls">
                    @Html.DropDownList("lstPlanner_TemplateType", ViewData["lstPlanner_TemplateType"] as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1">
                <label for="ActiveFlag">@Resources.Activo</label>
                @Html.CheckBoxFor(model => model.ActiveFlag, new { @class = "checkbox" })
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">@Resources.Detalle</h3>
    </div>
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                @Html.Partial("Planner_TemplateDetailList")
            </div>
        </div>
    </div>
</div>
