﻿@using Resources;

@model Planner.Model.SIEMBRAS_PLANNEREntities

@{
    ViewBag.Title = Resources.PlantillaDeActividades;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Planner_Template/Planner_Template.js"></script>

<div class="btn-group">
    <button id="btnCreate" name="btnCreate" class="btn btn-success waves-effect waves-light">
        <i class="fa fa-plus"></i>
    </button>
    <button id="dataPlanner_Template" name="dataPlanner_Template" class="btn btn-success waves-effect waves-light">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                @Html.Partial("Planner_TemplateList")
            </div>
        </div>
    </div>
</div>
