﻿@using Resources;
@using Planner.Model;

@{
    ViewBag.Title = Resources.Sensores + " - " + Resources.Adicionar;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/IOT_SensorList/Create.js"></script>

<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick='BackToList()'>
        <i class="fa fa-chevron-left"></i>
    </button>
    <button id="btnSave" name="btnSave" class="btn btn-success waves-effect waves-light" onclick="CallSubmit()">
        <i class="fa fa-save"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

@Html.Hidden("IOT_SensorListID")

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <label for="businessUnitList">Unidad de Negocio:</label>
                @Html.DropDownList("ddlBusinessUnit", ViewData["businessUnitList"] as SelectList, new { @class = "form-control" })
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <label for="greenhouseList">@Resources.Bloque</label>
                @Html.DropDownList("ddlGreenhouse", ViewData["greenhouseList"] as SelectList, new { @class = "form-control", onchange = "greenhouseListOnChange()" })
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <label for="Description">@Resources.Ubicacion</label>
                @Html.TextBox("AddName", null, new { @class = "form-control", @id = "AddName" })
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <label for="lstPlanner_TemplateType">@Resources.ServicioWeb</label>
                <div class="controls">
                    @Html.TextBox("AddService", null, new { @class = "form-control", @id = "AddService" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <label for="lstPlanner_TemplateType">@Resources.IdSensor</label>
                <div class="controls">
                    @Html.TextBox("AddExternalID", null, new { @class = "form-control", @id = "AddExternalID" })
                </div>
            </div>

            <div class="col-xs-12 col-sm-1 col-md-1">
                <label for="ActiveFlag">@Resources.Activo</label>
                @Html.CheckBox("AddFlagActive", false, new { @class = "checkbox" })
            </div>
        </div>
    </div>
</div>
