﻿@using Resources;
@using Planner.Model;

@model Planner.Model.IOT_SensorList


@{
    ViewBag.Title = Resources.Sensores + " - " + Resources.Borrar;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/IOT_SensorList/Delete.js"></script>

<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.VolverALaLista" onclick='BackToList()'>
        <i class="fa fa-chevron-left"></i>
    </button>
    <button id="btnDelete" name="btnDelete" class="btn btn-danger waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Borrar" onclick="CallSubmit()">
        <i class="fa fa-trash-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

@Html.Hidden("IOT_SensorListID")

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            @using (Html.BeginForm("Edit", "IOT_SensorList", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Edit" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.IOT_SensorListID)

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="businessUnitList">Unidad de Negocio:</label>
                    @Html.DropDownList("businessUnitList", ViewData["businessUnitList"] as SelectList, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="greenhouseList">@Resources.Bloque</label>
                    @Html.DropDownList("greenhouseList", ViewData["greenhouseList"] as SelectList, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="Description">@Resources.Ubicacion</label>
                    @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control", @placeholder = Resources.Ubicacion, @readonly = "readonly" })
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="lstPlanner_TemplateType">@Resources.ServicioWeb</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Service, null, new { @class = "form-control", @placeholder = Resources.ServicioWeb, @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="lstPlanner_TemplateType">@Resources.IdSensor</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.ExternalID, null, new { @class = "form-control", @placeholder = Resources.IdSensor, @readonly = "readonly" })
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1">
                    <label for="ActiveFlag">@Resources.Activo</label>
                    @Html.CheckBoxFor(model => model.FlagActive, new { @class = "checkbox", @disabled = "disabled" })
                </div>
            }
        </div>
    </div>
</div>
