﻿@using Resources;
@using Planner.Model;

@model Planner.Model.IOT_SensorList

@{
    ViewBag.Title = Resources.Sensores + " - " + Resources.CargarInformacion;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/IOT_SensorList/Upload.js"></script>

<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.VolverALaLista" onclick='BackToList()'>
        <i class="fa fa-chevron-left"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

@Html.Hidden("IOT_SensorListID")

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <label for="businessUnitList">@Resources.UnidadDeNegocio</label>
                @Html.DropDownList("ddlBusinessUnit", ViewData["businessUnitList"] as SelectList, Resources.Seleccionar, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <label for="greenhouseList">@Resources.Bloque</label>
                @Html.DropDownList("ddlGreenhouse", ViewData["greenhouseList"] as SelectList, Resources.Seleccionar, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <label for="Name">@Resources.Ubicacion</label>
                @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control", @placeholder = Resources.Ubicacion, @readonly = "readonly" })
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <label for="Service">@Resources.ServicioWeb</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Service, null, new { @class = "form-control", @placeholder = Resources.ServicioWeb, @readonly = "readonly" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <label for="ExternalID">@Resources.IdSensor</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.ExternalID, null, new { @class = "form-control", @placeholder = Resources.IdSensor, @readonly = "readonly" })
                </div>
            </div>

            <div class="col-xs-12 col-sm-1 col-md-1">
                <label for="FlagActive">@Resources.Activo</label>
                @Html.CheckBoxFor(model => model.FlagActive, new { @class = "checkbox", @disabled = "disabled" })
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-10 col-md-10">
                <label for="businessUnitList">@Resources.CargarInformacionDesde</label>
                <input type="file" id="UploadFile" name="UploadFile" style="width:100%; max-width:100%" accept=".csv">
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="Description">@Resources.Acciones</label>
                <br />
                <div class="btn-group">
                    <button id="btnUpload" name="btnUpload" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.CargarInformacion" onclick='Upload()'>
                        <i class="fa fa-upload"></i>
                    </button>
                    <button id="btnSave" name="btnSave" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Grabar" onclick='Save()'>
                        <i class="fa fa-floppy-o"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="col-xs-12 col-sm-10 col-md-10">
            <div id="SensorDataDataTable">
                <div id="SensorDataListDataTable" class="form-group row">
                    <div id="resultsSensorDataList">
                        <table id="tableSensorDataList" class="table table-bordered table-striped table-condensed table-hover" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>@Resources.IdSensor</th>
                                    <th>@Resources.Fecha</th>
                                    <th>@Resources.Humedad</th>
                                    <th>@Resources.Temperatura</th>
                                    <th>@Resources.Luminosidad</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
