﻿@using Resources;

<div id="Planner_TaskDataTable" class="form-group col-lg-12">
    <div id="resultsPlanner_Task">
        <table id="tablePlanner_Task" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
            <thead>
                <tr>
                    <th class="text-center">@Resources.Semana</th>
                    <th class="text-center">@Resources.Fecha</th>
                    <th class="text-center">@Resources.Finca</th>
                    <th class="text-center">@Resources.Bloques</th>
                    <th class="text-center">@Resources.Cama</th>
                    <th class="text-center">@Resources.Producto</th>
                    <th class="text-center">@Resources.Actividad</th>
                    <th class="text-center">@Resources.Estado</th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                @foreach (var template in ViewBag.Planner_TaskList)
                {
                    <tr>
                        <td>@template.Semana</td>
                        <td>@template.Fecha</td>
                        <td>@template.UnidadNegocio</td>
                        <td>@template.Bloque</td>
                        <td>@template.Cama</td>
                        <td>@template.Producto</td>
                        <td>@template.Actividad</td>
                        <td>@template.Estado</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

