﻿@using Globalization;
@using Resources;

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.NombreAplicacion + " - " + Resources.ErrorPaginaNoEncontrada;
}

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="form-group">
                            <label for="ControllerName">@Resources.Controlador</label>
                            <div class="input-group">
                                @Model.ControllerName
                            </div>
                            <div style="width:100%; height:0.5em">
                            </div>
                            <label for="ActionName">@Resources.Accion</label>
                            <div class="input-group">
                                @Model.ActionName
                            </div>
                            <div style="width:100%; height:0.5em">
                            </div>
                            <label for="Error">@Resources.Error</label>
                            <div class="input-group">
                                @Model.Exception.Message
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="text-align:center;">
                @Resources.PongaseEnContactoConElAdministradorDelSistema
                <br />
                <a href='@Url.Action("Index", "Home")'>
                    <i class="glyphicon glyphicon-home" data-toggle="tooltip" title="@Resources.IrA @Resources.Inicio"></i>
                </a>
            </div>
        </div>
    </div>
</div>