﻿@{
    ViewBag.Title = "Usuarios Aspersión";
    ViewBag.SubTitle = "Módulo de administración";
}

<!--JS Propio-->
<script src="~/Scripts/Aspersion/AspersionEmployees/AspersionEmplooyesIndex.js"></script>
<form id="AspersionEmployeesForm">
    <div class="btn-group">
        <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Añadir Usuario">
            <i class="fa fa-plus"></i>
        </button>

        <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Listar usuarios por finca" onclick="ShowList()">
            <i class="fa fa-list"></i>
        </button>
    </div>

    <div class="clearfix"></div>
    <br />
    <div class="box box-success">
        <div class="box-header">
            <h4>Nuevo usuario</h4>
        </div>
        <div class="box-body">
            <input type="hidden" id="ActiveFlag" name="ActiveFlag" value ="1" />
            <div class="col-md-4">
                <label for="Nombres">Nombres :</label><br />
                <input type="text" class="form-control" id="Name" required />
            </div>

            <div class="col-md-4">
                <label for="Apellidos">Apellidos :</label><br />
                <input type="text" class="form-control" id="LastName" required />
            </div>

            <div class="col-md-4">
                <label for="Rol">Rol :</label><br />
                @Html.DropDownList("RolID", ViewData["RolEmployeesList"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "RolID", @required = "required" })
            </div>

            <div class="col-md-4">
                <label for="Supervisor">Supervisor :</label><br />
                @Html.DropDownList("AspersionEmployeesID", ViewData["AspersionEmployeesList"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "AspersionEmployeesID", @disabled = "disabled" })
            </div>

            <div class="col-md-4">
                <label for="Finca">Finca :</label><br />
                @Html.DropDownList("GreenHouseID", ViewData["BussinesUnitList"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "GreenHouseID", @required = "required" })
            </div>
        </div>
    </div>
</form>
<div class="box box-success">
    <div class="box-header">
        <h4>Detalle</h4>
    </div>

    <div class="box-body">
        <table id="AspersionEmployeesList"  class="frozen_alert table table-bordered table-striped table-condensed table-hover table-condensed" style="width : 100%;">
            <thead>
                <tr>
                    <td></td>
                    <td>Nombres</td>
                    <td>Apellidos</td>
                    <td>Rol</td>
                    <td>Supervisor</td>
                    <td>Finca</td>
                    <td>Estado</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                
                @foreach (var e in ViewBag.AllEmployees)
                {
                    <tr>
                        <td>@i</td>
                        <td>@e.Name</td>
                        <td>@e.LastName</td>
                        <td>@e.RolID</td>
                        <td>@e.SupervisorID</td>
                        <td>@e.GreenHouseID</td>
                        @if (e.ActiveFlag == true)
                        {
                            <td class="text-success text-bold">Activo</td>
                        }
                        else
                        {
                            <td class="text-danger text-bold">Inactivo</td>
                        }
                        <td>
                            <button class="btn btn-xs" type="button" data-toggle="tooltip" data-placement="top" title="Editar Usuario" onclick="location='/AspersionEmployees/Edit?AspersionEmployeesID=@e.AspersionEmployeesID'"><i class="fa fa-edit text-primary"></i></button>
                            @if (e.ActiveFlag == true)
                            {
                                <button class="btn btn-xs" data-toggle="tooltip" data-placement="top" title="Inactivar Usuario" type="button" onclick="CambiaEstado(@e.AspersionEmployeesID)"><i class="fa fa-toggle-on text-success"></i></button>
                            }
                            else
                            {
                                <button class="btn btn-xs" type="button" data-toggle="tooltip" data-placement="top" title="Activar Usuario" onclick="CambiaEstado(@e.AspersionEmployeesID)"><i class="fa fa-toggle-off text-danger"></i></button>
                            }
                        </td>
                    </tr>
                    i++;
                 }
            </tbody>
        </table>
    </div>
</div>