﻿@{
    ViewBag.Title = "Listado de usuarios por finca";
    ViewBag.SubTitle = "Seleccone finca para mostrar personal";
}
<script src="~/Scripts/Aspersion/AspersionEmployees/AspersionEmplooyesIndex.js"></script>
<form id="ShowListForm">
    <div class="btn-group">
        <button type="button" id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()">
            <i class="fa fa-chevron-left"></i>
        </button>
        <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Añadir Usuario">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <div class="clearfix"></div>
    <br />

    <div class="box box-success">
        <div class="box-body">
            <label for="Finca">Finca: </label>
            @Html.DropDownList("GreenHouseID", ViewData["BussinesUnitList"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "GreenHouseID", @required = "required" })
        </div>
    </div>

    <div class="box box-success">
        <div class="box-body">
            <table id="ShowListTable"  class="frozen_alert table table-bordered table-striped table-condensed table-hover table-condensed" style="width : 100%;">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Rol</th>
                        <th>Estado</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>