﻿@using Resources;
@using Fitosanidad.Models
@model LoginViewModel
@{
    ViewBag.Title = Resources.IniciarSesion;
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<link href="~/Content/LoginStyle.css" rel="stylesheet" />
<div class="col-xs-12 col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4">
    <div class="box box-success">
        <div class="box-header with-border text-center">
            @*<h3 class="box-title">@Resources.NombreAplicacion</h3>*@
            <h3 class="box-title">@ViewBag.Title</h3>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @*@Html.AntiForgeryToken()*@
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="@Resources.IniciarSesion" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
