﻿@{
    ViewBag.Title = "Crear Usuario";
    ViewBag.Subtitle = "Formulario para la creación de nuevo usuario";
}
<!--JS propio-->
<script src="~/Scripts/UserAdministration/CreateUser.js"></script>
<div class="col-sm-12 col-lg-12 col-md-12">
    <form id="CreateUserForm">
        <div class="btn-group">
            <button id="btnCreate" name="btnCreate" class="btn btn-success waves-effect waves-light">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="box box-success">
            <div class="box-body">
                <div class="col-sm-3">
                    <label>Usuario: </label>
                    <input type="text" class="form-control" id="Login" readonly required />
                </div>

                <div class="col-sm-3">
                    <label>Nombre: </label>
                    <input type="text" class="form-control" id="Name" required />
                </div>
                <div class="col-sm-3">
                    <label>Apellido: </label>
                    <input type="text" class="form-control" id="LastName" required />
                </div>

                <div class="col-sm-3">
                    <label>Correo electrónico: </label>
                    <input type="email" class="form-control" id="Email" required />
                </div>

                <div class="col-sm-3">
                    <label>Contraseña: </label>
                    <input type="password" class="form-control" id="Password" required />
                </div>

                <div class="col-sm-3">
                    <label>Número Documento: </label>
                    <input type="text" class="form-control" id="DocID" required />
                </div>

                @*<div class="col-sm-3">
                    <label>Rol :</label>
                    <select class="form-control" id="RolUserID">
                        <option value="1">Admin</option>
                        <option value="2">Aspersion</option>
                        <option value="3"></option>
                    </select>
                </div>*@

            </div>
        </div>
    </form>
    <div class="box box-primary">
        <div class="box-header">
            <b>Roles</b>
        </div>
    </div>
</div>

