﻿@{
    ViewBag.Title = "Usuarios";
    ViewBag.Subtitle = "Administración de usuarios del sistema";
}
<!--Script propio-->
<script src="~/Scripts/UserAdministration/Index.js"></script>
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="btn-group">
        <button id="btnCreate" name="btnCreate" class="btn btn-success waves-effect waves-light" onclick="location='/UserAdministration/CreateUser'">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div style="width: 100%; height: 0.5em; filter: alpha(opacity=50); opacity: 0.5;"></div>
    <div class="box box-success">
        <div class="box-header">
        </div>
        <div class="box-body">
            <table id="UsersTable" class="frozen_alert table table-bordered table-striped table-condensed table-hover no-footer">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Documento</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var cont = 1;
                        foreach (var Users in ViewBag.Users)
                        {
                            <tr>
                                <td>@cont</td>
                                <td>@Users.Name</td>
                                <td>@Users.LastName</td>
                                <td>@Users.DocID</td>
                                @if (Users.FlagActive == false)
                                {
                                    <td class="text-danger text-bold">Inactivo</td>
                                }
                                else
                                {
                                    <td class="text-success text-bold">Activo</td>
                                }
                                <td class="col-md-12">
                                    <div class="col-md-1">
                                        <button onclick="location='/UserAdministration/EditUser/@Users.UserID'" class="on-default edit-row btn-link" title="Ver/Editar">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-1">
                                        <button onclick="location = '/UserAdministration/ActiveUser/@Users.UserID'" class="on-default edit-row btn-link" title="Ver/Editar">
                                            <i class="fa fa-toggle-on"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            cont++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>