﻿@using Globalization;
@using Resources;

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            @*@Html.ActionLink(" "+ Session["Name"].ToString(), "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage", @class = "fa fa-user"})*@
            @if(Session["Name"] == null)
            {
                Session["Name"] = "";
            }
            <a href="/"><i class="fa fa-user"></i>&nbsp;@Session["Name"].ToString()</a>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-key"></i>&nbsp;@Resources.CerrarSesion</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Registro, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.IniciarSesion, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
