﻿@using Resources;

<div id="Planner_SowingDataTable" class="form-group col-lg-12">
    <div id="resultsPlanner_Sowing">
        <table id="tablePlanner_Sowing" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
            <thead>
                <tr>
                    <th class="text-center">@Resources.Semana</th>
                    <th class="text-center">@Resources.Fecha</th>
                    <th class="text-center">@Resources.Finca</th>
                    <th class="text-center">@Resources.Bloques</th>
                    <th class="text-center">@Resources.Cama</th>
                    <th class="text-center">@Resources.Producto</th>
                    <th class="text-center">@Resources.Unidades</th>
                    <th class="text-center">@Resources.DensidadInv</th>
                    <th class="text-center">@Resources.DensidadUtil</th>
                    <th class="text-center">@Resources.Programado</th>
                    <th class="text-center">@Resources.EstadoActividad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var template in ViewBag.Planner_SowingList)
                {
                    <tr>
                        <td>@template.Semana</td>
                        <td>@template.Fecha</td>
                        <td>@template.Unidad_Negocio</td>
                        <td>@template.Bloque</td>
                        <td>@template.Cama</td>
                        <td>@template.Producto</td>
                        <td>@template.Unidades</td>
                        <td>@template.DensidadInv</td>
                        <td>@template.DensidadUtil</td>
                        <td>@template.ProductoProgramado</td>
                        <td>@template.TipoSiembra</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

