﻿@using Resources;
@using Planner.Model;

@model Planner.Model.IOT_SensorList


@{
    ViewBag.Title = Resources.Siembras + " - " + Resources.Proyecciones;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Planner_Sowing/Projection.js"></script>

<div class="btn-group">
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Buscar" onclick='Search()'>
        <i class="fa fa-search"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            @using (Html.BeginForm("Projection", "Planner_Sowing", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Edit" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="col-xs-11 col-sm-2 col-md-2">
                    <label for="ddlView">@Resources.Vista</label>
                    @Html.DropDownList("ddlView", ViewData["View_Lst"] as SelectList, Resources.Seleccionar, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <label for="ddlBusinessUnit">@Resources.UnidadDeNegocio</label>
                    @Html.DropDownList("ddlBusinessUnit", ViewData["businessUnitList"] as SelectList, Resources.Todo, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <label for="ddlProduct">@Resources.Producto</label>
                    @Html.DropDownList("ddlProduct", ViewData["productList"] as SelectList, Resources.Todo, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                </div>

                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="ddlWeekFrom">@Resources.SemanaInicial</label>
                    <div class="controls">
                        @Html.DropDownList("ddlWeekFrom", ViewData["lstWeekFrom"] as SelectList, Resources.Seleccionar, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="ddlWeekTo">@Resources.SemanaFinal</label>
                    <div class="controls">
                        @Html.DropDownList("ddlWeekTo", ViewData["lstWeekTo"] as SelectList, Resources.Seleccionar, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="ddlActivity">@Resources.Actividad</label>
                    <div class="controls">
                        @Html.DropDownList("ddlActivity", ViewData["activityList"] as SelectList, Resources.Todo, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="row">
        </div>
    </div>
</div>