﻿@using Resources;

<div id="ProjectionDataTable" class="form-group col-lg-12">
    <div id="resultsProjection">
        <table id="tableProjection" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
            <thead>
                <tr>
                    <th class="text-center">@Resources.IdTarea</th>
                    <th class="text-center">@Resources.Fecha</th>
                    <th class="text-center">@Resources.UnidadDeNegocio</th>
                    <th class="text-center">@Resources.Producto</th>
                    <th class="text-center">@Resources.Tarea</th>
                    <th class="text-center">@Resources.Bloque</th>
                    <th class="text-center">@Resources.Cama</th>
                    <th class="text-center">@Resources.Cantidad</th>
                    <th class="text-center">@Resources.Lapso</th>
                    <th class="text-center">@Resources.Actividad</th>
                    <th class="text-center">@Resources.Codigo</th>
                    <th class="text-center">@Resources.Nombre</th>
                    <th class="text-center">@Resources.Semana</th>
                    <th class="text-center">@Resources.Rendimiento</th>
                    <th class="text-center">@Resources.Minutos</th>
                    <th class="text-center">@Resources.Rendimiento</th>
                    <th class="text-center">@Resources.Personas</th>
                    <th class="text-center">@Resources.PersonasPorSemana</th>
                    <th class="text-center">@Resources.Variedad</th>
                    <th class="text-center">@Resources.Horas</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var template in ViewBag.ProjectionList)
                {
                    <tr>
                        <td>@template.Semana</td>
                        <td>@template.Fecha</td>
                        <td>@template.Unidad_Negocio</td>
                        <td>@template.Bloque</td>
                        <td>@template.Cama</td>
                        <td>@template.Producto</td>
                        <td>@template.Unidades</td>
                        <td>@template.DensidadInv</td>
                        <td>@template.DensidadUtil</td>
                        <td>@template.ProductoProgramado</td>
                        <td>@template.TipoSiembra</td>
                    </tr>
                }*@
            </tbody>
        </table>
    </div>
</div>

