﻿<div id="visorList" name="visorList">
    @foreach (var template in ViewBag.aListy)
    {
        <div class="col-md-12">
            @if (Convert.ToInt32(template.Bed) % 2 == 0)
            {
                <div class="col-md-6">
                    @if (template.Product != null)
                    {
                        <div class="callout callout-success clickBed" style="padding: 10px!important" data-id="@template.BedID">
                            <span data-toggle="tooltip" title="" class="badge bg-light-blue-active" data-original-title="">@template.Bed</span>
                            <span>@template.Product</span>
                        </div>
                    }
                    else
                    {
                        <div class="callout callout-empty" id="@template.BedID" style="padding: 10px!important; background-color: #92651e !important; border-left: 5px solid #714c07">
                            <span data-toggle="tooltip" title="" class="badge bg-light-blue-active" data-original-title="">@template.Bed</span>
                            <span>@template.Product</span>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="col-md-6">
                    @if (template.Product != null)
                    {
                        <div class="callout callout-success" id="@template.BedID" style="padding: 10px!important">
                            <span data-toggle="tooltip" title="" class="badge bg-light-blue-active" data-original-title="">@template.Bed</span>
                            <span>@template.Product</span>
                        </div>
                    }
                    else
                    {
                        <div class="callout callout-empty" id="@template.BedID" style="padding: 10px!important; background-color: #92651e !important; border-left: 5px solid #714c07 ">
                            <span data-toggle="tooltip" title="" class="badge bg-light-blue-active" data-original-title="">@template.Bed</span>
                            <span>@template.Product</span>
                        </div>
                    }
                </div>
            }

        </div>
    }
</div>

<div class="modal fade" id="modalD" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Información Cama</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    @Html.TextBox("BedID", null, new { @class = "form-control", @id = "BedID" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>