﻿@using Resources;
@using Planner.Model;


@model Planner.Model.Planner_Template

@{
    ViewBag.Title = Resources.PlanoDeMonitoreo;
    ViewBag.Subtitle = Resources.PlanoDeMonitoreo; ;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Phytosanity_Flat/Phytosanity_Flat.js"></script>

@Html.Hidden("TblInd", (int)ViewBag.TblInd)

<div class="btn-group">
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" onclick="CallSubmit()" data-toggle="tooltip" data-placement="top" title="@Resources.Consultar">
        <i class="fa fa-search"></i>
    </button>
    <button id="btnPdf" name="btnPdf" class="btn btn-danger waves-effect waves-light" onclick="getPdf()" data-toggle="tooltip" data-placement="top" title="PDF">
        <i class="fa fa-file-pdf-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-md-12">
            <div class="col-md-2">
                <label for="lstWeek">@Resources.Semana:</label>
                @Html.DropDownList("ddlWeek", @ViewBag.lstWeek as IEnumerable<SelectListItem>, null, new { @class = "form-control", @style = "width:100%", @id = "lstWeek" })
            </div>
            <div class="col-md-3">
                <label for="lstBusinessUnit">@Resources.Finca:</label>
                @Html.DropDownList("lstBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "lstBusinessUnit" })
            </div>
            <div class="col-md-3">
                <label for="lstGreenhouse">@Resources.Bloques:</label>
                @Html.DropDownList("lstGreenhouse", ViewData["lstGreenhouse"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "lstGreenhouse" })
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <label for="strWeek">@Resources.Semana</label>
                @Html.TextBox("strWeek", null, new { @class = "form-control", @placeholder = Resources.Id, @readonly = "readonly", @style = "width:100%" })

            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <label for="intBeds">@Resources.Camas</label>
                @Html.TextBox("intBeds", null, new { @class = "form-control", @placeholder = Resources.Camas, @readonly = "readonly", @style = "width:100%" })
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <label for="datSowingDate">@Resources.Siembra</label>
                @Html.TextBox("datSowingDate", null, new { @class = "form-control", @placeholder = Resources.Siembra, @readonly = "readonly", @style = "width:100%" })
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <label for="strCultivo">@Resources.Cultivo</label>
                @Html.TextBox("strCultivo", null, new { @class = "form-control", @placeholder = Resources.Cultivo, @readonly = "readonly", @style = "width:100%" })
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <label for="intBlock">@Resources.Bloque</label>
                @Html.TextBox("intBlock", null, new { @class = "form-control", @placeholder = Resources.Bloque, @readonly = "readonly", @style = "width:100%" })
            </div>
        </div>

        <hr />

        <table>
            <tr>
                <td>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            @Html.Partial("Phytosanity_FlatListPar")
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            @Html.Partial("Phytosanity_FlatListImpar")
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="form-group">
                            @Html.Partial("Phytosanity_FlatListA")
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="form-group">
                            @Html.Partial("Phytosanity_FlatListB")
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="form-group">
                            @Html.Partial("Phytosanity_FlatListC")
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <hr />

        <div class="col-xs-12 col-sm-12 col-md-8 col-sm-offset-2 col-md-offset-2">
            <div class="form-group">
                @Html.Partial("Phytosanity_FlatFooter")
            </div>
        </div>
    </div>
</div>
