﻿@using Resources;

<div id="Phytosanity_FlatCDataTable">
    <div id="Phytosanity_FlatListCDataTable" class="form-group row">
        <div id="resultsPhytosanity_FlatC">
            <table id="tablePhytosanity_FlatC" class="frozen_alert table table-bordered table-striped table-condensed table-hover" style="font-size:0.8em;">
                <thead>
                    <tr>
                        <th style="text-align:center; background-color:#EEEEEE" colspan="7">@Resources.Tabla C</th>
                    </tr>
                    <tr>
                        <th style="width:5em; text-align:center">@Resources.Cama</th>
                        <th style="text-align:center">1</th>
                        <th style="text-align:center">2</th>
                        <th style="text-align:center">3</th>
                        <th style="text-align:center">4</th>
                        <th style="text-align:center">5</th>
                        <th>@Resources.Producto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var template in ViewBag.Phytosanity_FlatListC)
                    {
                        <tr style="height:8em;">
                            <td style="width:5em;">@template.Cama</td>
                            <td>@Html.Raw(@template.Cuadro1)</td>
                            <td>@Html.Raw(@template.Cuadro2)</td>
                            <td>@Html.Raw(@template.Cuadro3)</td>
                            <td>@Html.Raw(@template.Cuadro4)</td>
                            <td>@Html.Raw(@template.Cuadro5)</td>
                            <td>@template.Producto</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
