﻿@using Resources;

<div id="Phytosanity_FlatParDataTable">
    <div id="Phytosanity_FlatListParDataTable" class="form-group row">
        <div id="resultsPhytosanity_FlatPar">
            <table id="tablePhytosanity_FlatPar" class="frozen_alert table table-bordered table-striped table-condensed table-hover" style="font-size:0.8em;">
                <thead>
                    <tr>
                        <th>@Resources.Producto</th>
                        <th style="text-align:center">5</th>
                        <th style="text-align:center">4</th>
                        <th style="text-align:center">3</th>
                        <th style="text-align:center">2</th>
                        <th style="text-align:center">1</th>
                        <th style="width:5em; text-align:center">@Resources.Cama</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var template in ViewBag.Phytosanity_FlatListPar)
                    {
                        <tr style="height:8em;">
                            <td>@template.Producto</td>
                            <td>@Html.Raw(@template.Cuadro5)</td>
                            <td>@Html.Raw(@template.Cuadro4)</td>
                            <td>@Html.Raw(@template.Cuadro3)</td>
                            <td>@Html.Raw(@template.Cuadro2)</td>
                            <td>@Html.Raw(@template.Cuadro1)</td>
                            <td style="width:5em;">@template.Cama</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
